:root {
    --header-height: 4rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
      Change favorite color
      Default: hsl(162, 162, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

    --hue: 210;
    --first-color: hsl(var(--hue), 100%, 70%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 4rem;
        --bigger-font-size: 2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);

}

input,
textarea,
button {
    outline: none;
    border: none;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.section__subtitle span {
    color: var(--first-color);
}
/* .main{
margin-top: 4rem
} */
/* ===========================header===================== */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: var(--header-height);
    background-color: var(--container-color);
    z-index: 20;
}
.header div{
    padding: 0.2rem;
}
.profile__pic img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.flex-grow-1{
    flex-grow: 1;
}
 /*=================================== main message body========================= */
 .msg{
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    /* max-width: 70vw;     */
}
.msg__img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    /*  margin-right: 10px;  */
 } 

.msg__body{
    background-color: var(--first-color-alt);
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    max-width: 500px;
}
/* message mac length for mobile screens */
@media screen and (max-width: 500px) {
    .msg__body{
        max-width: 70vw;
    }
}
.msg__time{
    font-size: 0.6rem;
    color: var(--text-color);
    margin-left: 10px;
}
.msg__info{
    display: flex;
    align-items: center;
    
}
.msg__profile-pic{
    /* I want the pic on top  */
    display: flex;
    /* background-image: url(/static/img/profile-pic.png); */
}
.right-msg{
    flex-direction: row-reverse;
    right: 0;
    position: relative;
    right: 0;
}
.left-msg{
    flex-direction:row;
    position: relative;
    left: 0;
} 
/* ======================================footer================================= */
/* footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-color);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
  } */
  
  .chat__form {
    display: flex;
    align-items: center;
    background-color: var(--body-color);
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 1rem;
  }
  
  .chat__input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 0.8rem;
    margin-right: 10px;
    outline: none;
    height: auto;
    overflow-y: auto;
  } 

  
  .chat__send-btn {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
  }
  
  .chat__send-btn i {
    vertical-align: middle;
  }
  
  .chat__file-input {
    display: none;
  }
  
  .chat__file-label {
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 10px;
    color: var(--text-color);
  }
  
  .chat__file-label i {
    vertical-align: middle;
  }
  #file-btn{
    display: none;
  }
  footer{
    background-color: var(--container-color);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer i{
    padding: 1rem 0.5rem;
  }
  #myInput {
    overflow: hidden;
    resize: none;
    height: auto;
    min-height: 40px; /* the minimum height of the input */
  }
  .main{
    margin-top: 4rem;
    background-image: url(https://www.shutterstock.com/image-vector/seamless-pattern-outline-icons-seo-600w-659141167.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  header i{
    padding : 1rem 0.5rem;
    font-size: var(--bigger-font-size);
  }
  
  
  

  
