:root {
    --header-height: 4rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
      Change favorite color
      Default: hsl(162, 162, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

    --hue: 210;
    --first-color: hsl(var(--hue), 100%, 70%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}
body {
    height: 100vh;
    display: grid;
    font-family: 'Poppins', sans-serif;
    place-items: center;
}
.otp-wrapper {
    background-color: var(--body-color);
    border-radius: 8px;
    box-shadow: 5px 7px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    max-width: 29rem;
}
h1 {
    font-size: 2rem;
    color: #1A237E;
    margin-bottom: 0;
    padding-bottom: 2rem;
}
fieldset {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    border: none;
    padding: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
input {
    border-radius: 8px;
    border: 2px solid #3949AB;
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    width: 45px;
    font-family: inherit;
}
input:focus,
input:focus-within {
    border: none;
    outline-color: #3949AB;
    box-shadow: 1px 2px 13px 4px rgba(57, 72, 171, 0.5);    
}
/* To remove prev next arrow from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}
.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
#paste-btn {
    color: #1A237E;
}
button {
    border: 2px solid transparent;
    background-color: #1A237E;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    transition: 0.4s;
    cursor: pointer;
    font-family: inherit;
}
button:hover {
    background-color: transparent;
    border-color: #1A237E;
    color: #1A237E;
    box-shadow: 1px 2px 13px 4px rgba(57, 72, 171, 0.5);    
}
button:focus,
button:focus-within {
    box-shadow: 1px 2px 13px 4px rgba(57, 72, 171, 0.5);
}
button:active {
    transform: translateY(3px);
}
.disabled {
    opacity: 0.50;
    pointer-events: none;
}

@media screen and (min-width: 640px) {
    html {
        font-size: 16px;
    }
    fieldset {
        column-gap: 1rem;
    }
}