<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Chat UI</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}">
    <!-- remix icons cdn -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/script.js"></script>

</head>

<body>




    <section class=".chat__section">
        <header class="header">
            <div class="back__button">
                <!-- back button from remix icon -->
                <i class="ri-arrow-left-line"></i>
            </div>
            <div class="profile__pic">
                <img src="{{url_for('static', filename='img/profile-pic.png')}}" alt="">
            </div>
            <div class="chat__title">

                <h3 >Chat Title</h3>
            </div>
            <span class="flex-grow-1"></span>


            <div class="chat__options">

                <i onclick="Dropdown()" class="ri-more-2-line"></i>
            </div>
            <div class="dropdown">
                    <div id="myDropdown" class="dropdown-content">
                      <a href="#">Details</a>
                      <a href="#">Starred</a>
                      <a href="#">Archived</a>
                      <a href="#">Block</a>
                    </div>
                 
            </div>
        </header>

        <main class="main">
            <div class="msg left-msg">
                <div class="msg__profile-pic">
                    <img class="msg__img" src="{{url_for('static', filename='img/profile-pic.png')}}" alt="">
                    <span class="flex-grow-1"></span>
                </div>
                <div class="msg__body">
                    <div class="msg__info">
     <h4 class="user__sent-from">Username</h4>
                        <span class="flex-grow-1">

                        </span>
                        <span>12:34</span>
                    </div>
                    <div class="msg__text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                    </div>
                </div>
            </div>
            <div class="msg right-msg">
                <div class="msg__profile-pic">
                    <img class="msg__img" src="{{url_for('static', filename='img/profile-pic.png')}}" alt="">
                    <span class="flex-grow-1"></span>
                </div>
                <div class="msg__body">
                    <div class="msg__info">
     <h4 class="user__sent-from">Username</h4>
                        <span class="flex-grow-1">

                        </span>
                        <span>12:34</span>
                    </div>
                    <div class="msg__text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                    </div>
                </div>
            </div>
            


        </main>
        <footer>
            <form action="" class="chat__form">

                <input type="text" placeholder="Type a message" class="chat__input "  id="myInput" oninput="resizeInput(this)">
                <input type="file" name="attatchment" id="file-btn">
                <input type="file" id="file-input" class="chat__file-input">
                <label for="file-input" class="chat__file-label"><i class="ri-attachment-line"></i></label>

                <button class="chat__send-btn">
                    <i class="ri-send-plane-fill"></i>
                </button>
            </form>

        </footer>

        <script src="{{url_for('static', filename='js/chat.js')}}"></script>
</body>

</html>