<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Chat UI</title>
    <!-- Do not attach style.css to this. It has its own css in chat.css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}">
    <!-- remix icons cdn -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Temporary links to files in order to run on a live server and fix frontend -->
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
</head>

<body>
    <section class="chat__section">
        <header class="header">
            <div class="back__button">
                <!-- back button from remix icon -->
                <a href="/default"><i class="ri-arrow-left-line"></i></a>
            </div>
            <div class="profile__pic">
                <img src="{{url_for('static', filename='img/profile-pic.png')}}" alt="">
            </div>
            <div class="chat__title">
                        <h3>{{ title }}</h3>
            </div>
            <span class="flex-grow-1"></span>
            <div class="chat__options">
                <i onclick="Dropdown()" class="ri-more-2-line"></i>
            </div>
            <div class="dropdown">
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Details</a>
                    <a href="#">Starred</a>
                    <a href="#">Archived</a>
                    <a href="#">Block</a>
                </div>
            </div>
        </header>
<main class="main">
    {% for chat in chats %}
    {% if chat.msg and chat.userid != userid %}
    <div class="msg left-msg">
        <div class="msg__profile-pic">
            <img class="msg__img" src="{{url_for('static', filename='img/profile-pic.png')}}" alt="">
            <span class="flex-grow-1"></span>
        </div>
        <div class="msg__body">
            <div class="msg__info">
                        <h3>{{ title }}</h3>
                <span class="flex-grow-1"></span>
                <span>{{chat.datetime}}</span>
            </div>
            <div class="msg__text">
                <p>{{chat.msg}}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if chat.msg and chat.userid == userid%}
    <div class="msg right-msg">
        <div class="msg__profile-pic">
            <img class="msg__img" src="{{url_for('static', filename='img/profile-pic.png')}}" alt="">
            <span class="flex-grow-1"></span>
        </div>
        <div class="msg__body">
            <div class="msg__info">
                <h4 class="user__sent-from">You</h4>
                <span class="flex-grow-1"></span>
                <span>{{chat.datetime}}</span>
            </div>
            <div class="msg__text">
                <p>{{chat.msg}}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</main>

        <a href="#" class="scrollup" id="scroll-up"><i class="ri-arrow-up-line"></i></a>
        <footer>
            <form action="/chat/{{linkid}}", method = "post" class="chat__form">
                <input name =  "message" type="text" placeholder="Type a message" class="chat__input " id="myInput"
                    oninput="resizeInput(this)">
                <input type="file" name="attachment" id="file-btn">
                <input type="file" id="file-input" class="chat__file-input">
                <label for="file-input" class="chat__file-label"><i class="ri-attachment-line"></i></label>
                <input type="hidden" name="chatTitle" value="{{ title }}">
                <button class="chat__send-btn" type = "submit">
                    <i class="ri-send-plane-fill"></i>
                </button>
            </form>
        </footer>
    </section>
    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
</body>
<script>
        // Establish WebSocket connection
        var socket = io();

        // Listen for 'new_message' event and append the new message to the chat
        socket.on('new_message', function(data) {
            var msg = `
                <div class="msg left-msg">
                    <div class="msg__profile-pic">
                        <img class="msg__img" src="{{url_for('static', filename='img/profile-pic.png')}}" alt="">
                        <span class="flex-grow-1"></span>
                    </div>
                    <div class="msg__body">
                        <div class="msg__info">
                            <h3>${data.chatTitle}</h3>
                            <span class="flex-grow-1"></span>
                            <span>${data.datetime}</span>
                        </div>
                        <div class="msg__text">
                            <p>${data.msg}</p>
                        </div>
                    </div>
                </div>
            `;
            
            // Append the new message to the chat
            document.querySelector('.main').insertAdjacentHTML('beforeend', msg);

            // Scroll to the bottom of the chat
            var chatContainer = document.querySelector('.main');
            chatContainer.scrollTop = chatContainer.scrollHeight;
        });
    </script>
</html>
