<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="/static/js/login.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="center">
        <h1>Login</h1>
        <form method="post">
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>First Name</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Last Name</label>
          </div>
          <div class="txt_field">
            <input type="email" required>
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label> Confirm Password</label>
          </div>
          <div class="pass">Forgot Password?</div>
          <input type="submit" value="Register">
          <div class="signup_link">
            Already have an account? <a href="/">Login</a>
          </div>
        </form>
      </div>
    
    
</body>
</html>